<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EB916951E73B78F00AE3FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EB916A91E73B78F00AE3FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EB916B41E73B78F00AE3FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
